<!DOCTYPE html>
<html>
  <head>
    <title>Add String</title>
  </head>
  <body>
    <h1>Add String</h1>
    <form method="POST" action="/Add_string">
      
      <label for="string_code">string code:</label>
      <input type="text" id="string_code" name="string_code" required><br><br>

      <label for="color">color:</label>
      <input type="text" id="color" name="color" required><br><br>
      
      <label for="gauge">gauge:</label>
      <input type="text" id="gauge" name="gauge" required><br><br>

      <label for="length">length:</label>
      <input type="text" id="length" name="length" required><br><br>

      <label for="core">core:</label>
      <input type="text" id="core" name="core" required><br><br>

      <label for="outside">outside:</label>
      <input type="text" id="outside" name="outside" required><br><br>

      <label for="coating">coating:</label>
      <input type="text" id="coating" name="coating" required><br><br>

      <label for="unit_price">unit_price:</label>
      <input type="text" id="unit_price" name="unit_price" required><br><br>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
