<!DOCTYPE html>
<html>
  <head>
    <title>Add order</title>
  </head>
  <body>
    <h1>Add order</h1>
    <form method="POST" action="/Add_order">
      
      <label for="Order_id">Order_id:</label>
      <input type="text" id="Order_id" name="Order_id" required>

      <label for="Order_date">Order_date:</label>
      <input type="text" id="Order_date" name="Order_date" required>
      
      <label for="Cust_id">Cust_id:</label>
      <input type="text" id="Cust_id" name="Cust_id" required>

      <label for="Employee_id">Employee_id:</label>
      <input type="text" id="Employee_id" name="Employee_id" required>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
