<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Select your action</h1>


<p><a href="add_racquet"><button>ADD RACQUET</button></a><a href="add_string"><button>ADD STRING</button></a><a href="add_order"><button>ADD ORDER</button></a></p>
<p><a href="delete_racquet"><button>DELETE RACQUET</button></a><a href="delete_string"><button>DELETE STRING</button></a><a href="delete_order"><button>DELETE ORDER</button></a></p>
<p><a href="update_racquet"><button>UPDATE RACQUET</button></a><a href="update_string"><button>UDDATE STRING</button></a><a href="update_order"><button>UPDATE ORDER</button></a></p>

  <h1>Below are the results</h1>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<form method="POST" action="/customer_nocontact">
<p>
  Customers with incomplete contact information:  <input type="submit" value="Search">
</p>
</form>

<form method="POST" action="/bestsell_racquet">
<p>
  Top 3 best-sell racquets : <input type="submit" value="Search">
</p>
</form>

<form method="POST" action="/bestsell_string">
<p>
  Top 3 best-sell strings: <input type="submit" value="Search">
</p>
</form>




</body>


</html>
